body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1E88E5;
}

section {
  padding: 60px 0;
}

.gallery img {
  width: 100%;
  height: auto;
}
.img_model{
  width: 100%;
  height: auto;
}
footer{
  background-color:#1E88E5;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.animated-section {
  animation: fadeIn 2s;
}

.responsive-table {
  overflow-x: auto;
}